@import "reset"
@import "helpers"

#header
	.loader
		position: absolute
		top: 20px
		right: 20px

		svg path, svg rect
			//fill: #FF6700
			fill lightGreen

#test-page
	.loader
		float: left
		margin 0 10px
		transition opacity .2s ease
		&.ng-enter
			transition opacity .2s ease
			opacity 0
		&.ng-enter-active
			opacity 1
		&.ng-leave
			transition opacity .2s ease
			opacity 1
		&.ng-leave-active
			opacity 0
